<h2>About the Calendar of Ancient Egypt</h2>
<p>The Egyptian year was divided into 12 months of 30 days; at the end of the year 5 additional days (the "epagomenal days") were added so one year had 365 days.</p>
<p>The year was further divided into three seasons:</p>
<ul>
    <li>Achet "inundation (of the Nile)"</li>
    <li>Peret "winter"</li>
    <li>Shemu "summer"</li>
</ul>
<p>Each season consisted of four months that were numbered from one to four. These 12 months later received names derived from certain religious feasts:</p>
<div class="table-responsive">
<table  class="table table-bordered  table-condensed">
    <thead>
        <tr>
            <th>season</th>
            <th>month</th>
            <th>equivalent to</th>
        </tr>
    </thead>
    <tr>
        <td>Achet</td>
        <td>1</td>
        <td>Thot</td>
    </tr>
    <tr>
        <td></td>
        <td>2</td>
        <td>Phaophi</td>
    </tr>
    <tr>
        <td></td>
        <td>3</td>
        <td>Hathyr</td>
    </tr>
    <tr>
        <td></td>
        <td>4</td>
        <td>Choiak</td>
    </tr>
    <tr>
        <td>Peret</td>
        <td>1</td>
        <td>Tybi</td>
    </tr>
    <tr>
        <td></td>
        <td>2</td>
        <td>Mecheir</td>
    </tr>
    <tr>
        <td></td>
        <td>3</td>
        <td>Phamenoth</td>
    </tr>
    <tr>
        <td></td>
        <td>4</td>
        <td>Pharmuthi</td>
    </tr>
    <tr>
        <td>Shemu</td>
        <td>1</td>
        <td>Pachons</td>
    </tr>
    <tr>
        <td></td>
        <td>2</td>
        <td>Payni</td>
    </tr>
    <tr>
        <td></td>
        <td>3</td>
        <td>Epeiph</td>
    </tr>
    <tr>
        <td></td>
        <td>4</td>
        <td>Mesore</td>
    </tr>
</table>
</div>
<p>The ancient Egyptians dated their documents by the years of the king's reigns and not by a continous era like nowadays Gregorian calendar, for example:</p>
<p>Year 12 of Pharaoh Psametik, 3rd month of Peret, day 23</p>
<p>To convert those dates into the Julian calendar you can use this date converter; choose a period (Late Period, Ptolemaic Kings or Roman Emperors), specify the reign, year, month and day (optionally) and click on "convert date".</p>
<p>All calculations are based on the tables in Skeat, Reigns of the Ptolemies (1969), Pestman, Chronologie égyptienne d'après les textes démotiques (1967) and Pestman, Les papyrus démotiques de Tsenhor (1994).</p>
<p>The system expects that the user knows what (s)he's doing; ahistoric entries will result in mathematically correct but otherwise rather useless dates.
Not specifying a day will result in calculation of both the first and last day of the given month.</p>
<p>&nbsp;</p>
