<h2>Date Converter for Ancient Egypt</h2>
<p>This website is a scientific tool for converting calendar dates mentioned in Greek and Demotic papyri from Egypt into Julian and corresponding Gregorian dates, from the reign of Psametik to Diocletian.</p>
<p>Choose one of the historical periods (Late Period Pharaohs, Ptolemaic Kings or Roman Emperors), then the reign, year, month and (optionally) day and click on convert - the result date will be shown.</p>
<p>All calculations are based on the tables in Skeat, Reigns of the Ptolemies (1969), Pestman, Chronologie égyptienne d'après les textes démotiques (1967) and Pestman, Les papyrus démotiques de Tsenhor (1994).</p>
<p>The system expects that the user knows what (s)he's doing; ahistoric entries will result in mathematically correct but otherwise rather useless dates. Not specifying a day will result in calculation of both the first and last day of the given month.<p/>
